.homepage-content{
  display: flex;
  width: 100%;
  padding: 20px 10px;
}
.homepage-content-left{
  width: 50%;
}
.homepage-content-right{
  width: 50%;
}
@media (max-width: 768px) {
  .homepage-content {
    flex-direction: column;
    text-align: center;
    padding: 20px 15px;
  }

  .homepage-content-left,
  .homepage-content-right {
    width: 100%;
  }

  .homepage-content-right img {
    width: 100%;
    height: auto;
  }
}