.main-header{
    box-shadow: 0px 4px 4px 0px rgba(168, 149, 149, 0.25);
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

.header-col{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-selector-tab{
    font-size: 16px;
    cursor: pointer;
}

.header-link{
    color: #000;
    text-decoration: none;
}